<fieldset>
  <strong> Please give your review </strong>
  <div>
    <select  id="my_dropdown" class="rating_dropdown" name="rating[rating_value]" data-recipe_id=<%= recipe_data[:id] %>>

      <option value="1">1 </option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>

    </select>
  </div>
</fieldset>
