<% if @is_deleted %>
$("#row_<%= params[:category_id] %>").remove();
$("#tastebud_messages").html("<div class='alert alert-info'><strong></strong>Successfully deleted</div>");
<% else %>
$("#tastebud_messages").html("<div class='alert alert-danger'><strong></strong>Try again later</div>");
<% end %>